.footer {
  background-color: #ffffff;
  color: #2c2c2c;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.column {
  flex: 1;
}

.column2 {
  flex: 1;
  display: flex;
  margin-top: -60px;
  /* margin-left: 7px; */
}
.content-container {
  display: flex;
  gap: 10px;
}

.quick-links {
  margin-right: 10px;
}

.h3 {
  color: #131314;
  font-size: 16px;
}

.logo3 {
  width: 200px;
  height: 35px;
  margin: 9px 0px 7px 13px;
}

.mk {
  text-align: justify;
  font-size: small;
  margin-right: -260px;
  margin-left: 10px;
}

.p {
  font-family: "Play", sans-serif;
  font-size: 0.8rem;
  color: #2c2c2c;
  text-decoration: none;
}

.k {
  font-family: "Play", sans-serif;
  font-size: 0.8rem;
  color: #2c2c2c;
  text-decoration: none !important;
  margin-top: 19px;
  text-align: left;
}

.quick-links {
  font-family: "Play", sans-serif;
  font-size: 0.8rem;
  color: #2c2c2c;
  text-decoration: none !important;
  margin-top: 10px;
  text-align: left;
}

.l {
  font-family: "Play", sans-serif;
  font-size: 0.8rem;
  color: #2c2c2c;
  text-decoration: none !important;
  margin-top: 19px;
  text-align: left;
}

.k:hover {
  text-decoration: underline;
}

.hr {
  border-top: 1px solid #eeeeee;
  margin: 10px 0;
}

.contact-info {
  margin-left: -90px;
  margin-top: -19px;
  margin-bottom: 20px;
}

/* .address-container {
  margin-top: 31px;
} */

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.footer-social-media {
  font-size: 13px;
  display: flex;
  align-items: center;
  /* margin-top: -19px;
  margin-bottom: -102px; */
  margin: 10px;
  gap: 10px;
}

.footer-social-media a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-left: 10px;
}

/* .facebook,
.twitter,
.whatsapp,
.instagram {
  background-size: cover;
  width: 40px;
  height: 80px;
} */

.address-container {
  display: flex;
  align-items: center;
}

.address-icon {
  color: #2c2c2c;
  margin-right: 5px;
  margin-left: 114px;
  margin-top: 17px;
}

.email-container {
  display: flex;
  align-items: center;
}

.email-icon {
  color: #2c2c2c;
  margin-right: 5px;
  margin-left: 114px;
  margin-top: 17px;
}

.phone-container {
  display: flex;
  align-items: center;
}

.phone-icon {
  color: #2c2c2c;
  margin-right: 5px;
  margin-left: 114px;
  margin-top: 19px;
}

.instagram :hover {
  color: #d62976;
}

.facebook :hover {
  color: #3b5998;
}
.whatsapp :hover {
  color: #25d366;
}
.twitter :hover {
  color: #8899ac;
}
